// Variables
$brand: #00aeef;
$highlight: #0090c6;
$brandTextColour: white;
$secondaryColour: #8DC63F;
$tertiaryColour: #FF9100;
$padding: 50px;
$paddingSmall: 5px;
$grey: #c4c4c4;


// Mixins
@mixin border-radius() {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

@mixin brand(){
	color:$brandTextColour !important;
  background-color: $brand;
}

//Styles
h2, h3, h4 {
  color:$grey;
}

body{
  font-size: 150%;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.btn:not(:last-child){
  margin-right: $paddingSmall;
}

.btn{
  @include brand();
}

.btn:hover{
  background-color: $highlight;
}

.btn-group .btn{
  background-color: $grey;
  margin-right: $paddingSmall;
}

.btn-group .btn.active{
  background-color: $brand;
}

.btn-danger{
    background-color: #d9534f !important;
}

/* Loading indicator */
#loading{
  position: absolute;
  margin-left: 45%;
  margin-top: 10%;
  padding: 3px 5px 3px 7px;
  font-style: bold;
  display:none;
  @include brand();
  @include border-radius();
}

/* add a little wriggle room */
.row{
  padding-top: $padding;
}
.sidebar-nav{
  padding-top: $padding;
}
td{
  padding-right: $paddingSmall;
}
#title{
  padding-bottom: $padding;
}

/* Make the active elements show off the brand colour */
.active{
  @include brand();
}

.btn:hover{
 background-color: $highlight;
}

/* Table headers should have a border and be bigger */
thead{
  padding-bottom: 10px;
  font-style: bold;
}

/* The table should be full width */
table.full-width{ width: 100%; }

.delete{
  background-color: red;
}

tbody{
  border-top: 1px solid #ddd;
}