
/* Loading indicator */
#loading{
  position: fixed;
  z-index: 999;
  margin-left: 45%;
  margin-top: 10%;
  padding: 3px 5px 3px 7px;
  font-style: bold;
  display:none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background-color: #00aeef;
  color: white;
  font-size: 150%;
}

div.wrap{
  word-wrap: break-word;
  max-height: 120px;
  overflow-y: auto;
}

.btn-primary.active{
  background-color:  #00aeef !important;
}

.data>div:nth-child(even){
  background-color: #e9e9e9;
}

.data>div:not(:first-child):hover{
  background-color: #7fd6f7 !important;
}

.row{
  padding: 3px 0;
}

#filter input[type="submit"]{
  width:100%;
}

#list hr{
  width: 50%;
  text-align: left;
  margin-left: 0;
}

.datalink:hover{
  cursor: pointer;
  color: white;
}

a.active {
    background-color: #00aeef;
    color: white !important;
}

.jira {
    background: #FFCC66 !important;
    border: 5px solid #FFCC66;
}

.stale {
    background: #FFCCCC !important;
}

.pristine {
    background: #99FFCC !important;
}

a.active{
  background-color: #00aeef;
  color:white !important ;
}
