h2, h3, h4 {
    color: #C4C4C4;
}
#loading{
    position: absolute;
    margin-left: 45%;
    margin-top: 10%;
    background-color: #00aeef;
    padding: 3px 5px 3px 7px;
    border-radius: 4px;
    font-style: bold;
    color: white;
    display:none;
}

.row{
    padding-top: 50px;
}

.active{
    color:white !important;
    background-color: #00aeef;
}

.sidebar-nav{
    padding-top: 50px;
}

thead{
    position: relative;
    top:-5px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 10px;
    font-style: bold;
    font-size:125%;
}

table.data tbody tr:hover{
    background-color: #00aeef;
    color: white;
    border-radius: 4px;
}

table.data .btn:hover{
    background-color: black;
    color: white;
    border-radius: 4px;
}


td{
    padding-right: 5px;
}

.btn:hover{
    background-color: #00aeef;
    color: white;
}

#login .btn{
    background-color: #00aeef;
    color: white;
}

#login .btn:hover{
    background-color: black;
    color: white;
}

#title{
    padding-bottom: 50px;
}