body {
    padding-top: 60px;
    padding-bottom: 40px;
    color: #fff;
    font-weight: bold;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

td{ padding:5px;}
td:not(:first-child) { text-align: center; }

.navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
/*
.row.ng-scope {
    width:25%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
}
*/
.btnSubmit {
    display: block;
    margin-right: auto;

}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.listPanel {
    background-image: url("../img/nightowldark.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-color: #04090a;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    padding-top: 60px;

}

.loginPanel {
    background-image: url("../img/nightowl2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom right;
    background-color: #0b1c1e;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    padding-top: 60px;
}