<div class="row" ng-controller="AuditController">
    <form id="audit" style="clear:both">
        <select id="searchOption" ng-model="auditFilters.filterBy" ng-init="config.searches[0]" ng-options="auditFilter for auditFilter in config.auditFilters">
            <option value="">Filter By</option>
        </select>
        <input type="text" ng-model="auditFilters.filter" id="searchText">
        <input input class="btn" type="submit" value="filter" ng-click="filterAudits()">
    </form>
    <br/>
    <table ng-show="auditList.length">
        <thead>
        <tr>
            <td>Date</td>
            <td>Owner</td>
            <td>Code</td>
            <td>Message</td>
        </tr>
        </thead>
        <tr ng-repeat="audit in auditList | orderBy:'time':true">
            <td>{{audit.time}}</td>
            <td>{{audit.owner}}</td>
            <td>{{audit.code}}</td>
            <td>{{audit.message}}</td>
        </tr>
    </table>
</div>