<div class="row" ng-controller="AuditController">
    <form id="audit" style="clear:both">
        <select id="searchOption" ng-model="auditFilters.filterBy" ng-init="config.searches[0]" ng-options="auditFilter for auditFilter in config.auditFilters">
            <option value="">Filter By</option>
        </select>
        <input type="text" ng-model="auditFilters.filter" id="searchText">
        <input type="submit" value="filter" ng-click="filterAudits()">
    </form>
    <br/>
</div>
<div>
    <table>
        <thead>
        <tr>
            <td class="listTable">Date</td>
            <td class="listTable">Owner</td>
            <td class="listTable">Code</td>
            <td class="listTable">Message</td>
        </tr>
        </thead>
        <tr ng-repeat="audit in auditList">
            <td class="listTable">{{audit.time}}</td>
            <td class="listTable">{{audit.owner}}</td>
            <td class="listTable">{{audit.code}}</td>
            <td class="listTable">{{audit.message}}</td>
        </tr>
    </table>
</div>