<div ng-controller="ListController">
	<div class="row" ng-controller="ListController">
		<div class="col-lg-12">
			<div ng-repeat="dc in config.dataCenters" class="btn-group">
				<button class="btn" ng-class="{active: filters.dataCenter == dc.value}" ng-click="setDataCenter(dc)">{{dc.name}}</button>
			</div>
			<br/>
			<br/>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form id="filter">
				<table class="bordered">
					<thead>
					<tr>
						<td>Filter Codes</td>
					</tr>
					</thead>
					<tr>
					<td>Prefix:</td>
					<td><select class="form-control" ng-model="filters.prefix" ng-options="prefix for prefix in prefixes">
						</select></td>
					</tr>
					<tr>
						<td><select class="form-control" ng-model="filters.filterBy" ng-options="filter for filter in config.filters">
						</select></td>
						<td><input class="form-control" type="text" ng-model="filters.filter"></td>
					</tr>
					<tr>
						<td></td>
						<td><input class="btn" type="submit" value="Filter" ng-click="reloadCodes()"></td>
					</tr>
				</table>
			</form>
	</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<form id="create">
				<button class="btn" ng-hide="createMode" ng-click="createMode = true">Create New</button>
				<table ng-show="createMode" mg-model="newCode" class="data bordered">
					<thead>
					<tr>
						<td>Key</td>
						<td>Restriction</td>
						<td>Value</td>
						<td>Description</td>
						<td>Available to JS?</td>
					</tr>
					</thead>
					<tr>
						<td><input class="form-control" type="text" ng-model="newCode.key" /></td>
						<td>
							<select ng-model="newCode.restriction" ng-init="newCode.restriction = config.restrictions[0]"
							ng-options="restriction for restriction in config.restrictions">
						</select>
					</td>
					<td><input class="form-control" type="text" ng-model="newCode.value" ng-init="newCode.value = 0" /></td>
					<td><textarea class="form-control" ng-model="newCode.description"></textarea></td>
					<td><input class="form-control" type="checkbox" ng-model="newCode.availableToJS" ng-init="newCode.availableToJS = 0" /></td>
					<td><button type="btn" ng-click="createCode()">Create</button></td>
					<td><button type="btn" ng-click="createMode = false">Cancel</button></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div class="row" ng-show="launchCodes.length">
	<div class="col-lg-12">
	<table class="data">
		<thead>
			<tr>
				<td>Key</td>
				<td>Restriction</td>
				<td>Value</td>
				<td>Description</td>
				<td>Available to JS</td>
			</tr>
		</thead>
		<tr ng-repeat="code in launchCodes" id="code-{{$index}}">
			<td>{{ code.key }}<div style="font-size: 75%">{{ code.dateCreated }}</div></td>
			<td><select class="form-control" ng-model="code.restriction" ng-options="restriction for restriction in config.restrictions" disabled></select></td>
			<td><input class="form-control" type="text" ng-model="code.value" disabled></td>
			<td><textarea class="form-control" ng-model="code.description" cols=50 disabled></textarea></td>
			<td><input class="form-control" type="checkbox" ng-checked="code.availableToJS == 'true'" ng-click="toggleJS(code)" disabled></td>
			<td ng-hide="inEditMode($index)">
				<button class="btn" ng-click="toggleEditMode($index)">Edit</button>
			</td>
			<td ng-show="inEditMode($index)">
				<button class="btn" ng-click="saveCode(code); toggleEditMode($index)">OK</button>
				<button class="btn" ng-click="discardChanges(code); toggleEditMode($index)">Cancel</button>
			</td>
			<td><button class="btn" ng-click="deleteCode(code)">Delete</button></td>
		</tr>
	</table>
</div>
</div>
</div>