<div ng-controller="ListController">

	<div id="dataCenters" class="row" >
		<div class="col-md-12 btn-group">
			<button ng-repeat="dc in config.dataCenters" class="btn" ng-class="filters.dataCenter == dc.value ? 'btn-secondary' : 'btn-primary'" ng-click="setDataCenter(dc)">{{dc.name}}</button>
		</div>
	</div>

	<div id="filter"class="row">
		<div class="row">
			<div class="col-md-12">
				<h2>Filter Codes</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<h3>Prefix:</h3>
			</div>
			<div class="col-md-3">
				<select class="form-control" ng-model="filters.prefix" ng-options="prefix for prefix in prefixes"></select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1">
				<select class="form-control" ng-model="filters.filterBy" ng-options="filter for filter in config.filters"></select>
			</div>
			<div class="col-md-3">
				<input class="form-control" type="text" ng-model="filters.filter" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-1 col-md-offset-2">
				<input type="button" class="btn btn-danger" ng-click="resetFilters()" value="Clear Filters"/>
			</div>
			<div class="col-md-1">
				<input class="btn btn-success" type="submit" value="Filter" ng-click="reloadCodes()"/>
			</div>
		</div>
	</div>

	<div id="create" class="row">
		<div class="col-md-1" ng-hide="createMode">
			<button class="btn btn-primary" ng-click="createMode = true">Create New</button>
		</div>
		<div class="row" ng-show="createMode" mg-model="newCode">
			<div class="row">
				<div class="col-md-4">
					<h3>Key</h3>
				</div>
				<div class="col-md-1">
					<h3>Restriction</h3>
				</div>
				<div class="col-md-2">
					<h3>Value</h3>
				</div>
				<div class="col-md-2">
					<h3>Description</h3>
				</div>
				<div class="col-md-2">
					<h3>Available To JS?</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<input class="form-control" type="text" ng-model="newCode.key">
					<div>Code will be created in {{filters.prefix}}</div>
				</div>
				<div class="col-md-1">
					<select class="form-control" ng-model="newCode.restriction" ng-options="restriction for restriction in config.restrictions"></select>
				</div>
				<div class="col-md-2">
					<input ng-if="config.metadata.restrictions[newCode.restriction].type == 'text'"class="form-control" type="text" ng-model="newCode.value" />
					<select ng-if="config.metadata.restrictions[newCode.restriction].type == 'select'" class="form-control" ng-model="newCode.value" ng-options="value for value in config.metadata.restrictions[newCode.restriction].values"></select>
				</div>
				<div class="col-md-2">
					<textarea class="form-control" ng-model="newCode.description" cols=50></textarea>
				</div>
				<div class="col-md-1">
					<input class="form-control" type="checkbox" ng-checked="newCode.availableToJS == 'true'" ng-click="toggleJS(newCode)" >
				</div>
				<div class="col-md-2">
					<input class="btn btn-success" type="submit" value="Create" ng-click="createCode(); newCode = {}">
					<input class="btn btn-danger" type="button" value="Cancel" ng-click="createMode = false; newCode = {}">
				</div>
			</div>
		</div>
	</div>

	<div id="codes" class="row data" ng-show="launchCodes.length">
		<div class="row">
			<div class="col-md-4">
				<h3>Key</h3>
			</div>
			<div class="col-md-1">
				<h3>Restriction</h3>
			</div>
			<div class="col-md-2">
				<h3>Value</h3>
			</div>
			<div class="col-md-2">
				<h3>Description</h3>
			</div>
			<div class="col-md-2">
				<h3>Available To JS?</h3>
			</div>
		</div>

		<div class="row" ng-repeat="code in launchCodes" >

			<div class="row" ng-hide="inEditMode($index)">
				<div class="col-md-4">
					{{code.key}}<div style="font-size: 75%">{{ code.dateCreated }}</div>
				</div>
				<div class="col-md-1">
					{{code.restriction}}
				</div>
				<div class="col-md-2 wrap">
					{{code.value}}
				</div>
				<div class="col-md-2 wrap">
					{{code.description}}
				</div>
				<div class="col-md-1">
					<img src="/img/icons/check.png" alt="Yes" ng-show="code.availableToJS == 'true'" /> 
					<img src="/img/icons/x.png" alt="No" ng-show="code.availableToJS == 'false'" /> 
				</div>
				<div class="col-md-2">
					<button class="btn btn-success" ng-click="editModeOn($index)">Edit</button>

				</div>
			</div>


			<div class="row" ng-show="inEditMode($index)">
				<div class="col-md-4">
					{{code.key}}<div style="font-size: 75%">{{ code.dateCreated }}</div>
				</div>
				<div class="col-md-1">
					<select class="form-control" ng-model="code.restriction" ng-options="restriction for restriction in config.restrictions"></select>
				</div>
				<div class="col-md-2">
					<input ng-if="config.metadata.restrictions[code.restriction].type == 'text'"class="form-control" type="text" ng-model="code.value" />
					<select ng-if="config.metadata.restrictions[code.restriction].type == 'select'" class="form-control" ng-model="code.value" ng-options="value for value in config.metadata.restrictions[code.restriction].values"></select>
				</div>
				<div class="col-md-2">
					<textarea class="form-control" ng-model="code.description" cols=50></textarea>
				</div>
				<div class="col-md-1">
					<input class="form-control" type="checkbox" ng-checked="code.availableToJS == 'true'" ng-click="toggleJS(code)" />
				</div>
				<div class="col-md-2">
					<button class="btn btn-success" ng-click="saveCode(code); editModeOff($index)">OK</button>
					<button class="btn btn-primary" ng-click="discardChanges($index)">Cancel</button>
					<button class="btn btn-danger" ng-click="deleteCode(code); editModeOff($index)">Delete</button>
				</div>
			</div>

		</div>

	</div>
</div>
