<div class="row" ng-controller="LoginController">
    <div class="col-lg-6 col-lg-offset-3">
    <form id="login">
    <table class="table-codensed">
        <thead>
            <h1>NightOwl</h1>
        <h3>Dark Launch Dashboard</h3>
        </thead>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="user" ng-model="name" class="form-control"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" ng-model="pw" class="form-control"></td>
        </tr>
        <tr><td></td><td><input type="submit" value="Login" class="btn form-control btn-secondary" ng-click="login(name, pw)" ></td></tr>
    </table>
    </form>
    </div>
</div>
