<div class="row">
    <table>
        <form ng-submit="LoginModalCtrl.submit(_name, _password)">
            <tr>
                <td>Username:</td>
                <td><input type="text" name="user" ng-model="_name"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" ng-model="_password"></td>
            </tr>
            <tr><td></td><td><input type="submit" value="Login" class="btnSubmit"></td></tr>
            <tr><td></td><td><button ng-click="LoginModalCtrl.cancel()">Cancel</button></td></tr>
        </form>
    </table>
</div>